@import @/sass/globales/_colores
ul 
  display: grid
  grid-template-columns: repeat( 5 , 1fr )
  width: 100%
  list-style: none
  padding: 0
  max-width: 800px
  margin: 0   auto
  li 
    text-align: center
    padding: 5px
    transition: transform .3s
    &:hover

      transform: translateY(-5px)
p 
  font-size: .9em    
  line-height: 1.2em
  font-weight: bold
  color: $morado-oscuro